@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Righteous', cursive;
}
.container{
    width: 80%;
    margin: auto;
}
.container-fluid{
    width: 95%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;  
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    float: center;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}

/* header part css start here */
.header{
    background-image: url("https://www.publicdomainpictures.net/pictures/30000/nahled/solid-green-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 20px 50px 20px;
}
.hero{
    width: 100%;
}
.logo{
    width: 15%;
}
.logo img{
    width: 40%;
    border-radius: 50%;
}
.main_menu{
    width: 60%;
}
.main_menu ul{
    line-height: 60px;
    list-style: none;
}
.main_menu ul li{
    display: inline-block;
    margin-left: 20px;
}
.main_menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.main_menu ul li a:hover{
    border-bottom: 2px solid #fff;
}
.icon{
    width: 25%;
}
.icon i{
    color: #fff;
    margin-left: 10px;
    margin-left: 30px;
    font-size: 27px;
    margin-top: 0;
}
.icon i .tel{
    font-size: 32px;
}
.icon .bar_icon{
    display: none;
}
.icon .bar_icon2{
    display: none;
}
.banner{
    margin-top: 30px;
}
.banner .banner_content{
    width: 70%;
    margin-top: 50px;
}
.banner .banner_content h1{
    color: #fff;
    font-size: 60px;
    line-height: 120px;
}
.banner .banner_content p{
    color: #f0eaea;
    font-size: 20px;
    font-weight: 500;
    font-family: serif;
}
.banner .banner_content a{
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    padding: 12px 30px;
    background-color: #fff;
    color: #444;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}
.banner .banner_content button{
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    padding: 12px 30px;
    background-color: #fff;
    color: #444;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}
.banner .banner_content a:hover{
    background-color: #ddd;
    transition: .5s;
}
.banner_image{
    width: 30%;
}
.banner_image img{
    width: 100%;
    border-radius: 50%;
    margin-top: 0;
}
/* header part end here */


/* review part start here */
.review_section{
    padding-bottom: 50px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./image/bg.jpg');
}
.review_section h1,p {
    color: white;
}
.div{
    width: 50%;
}
.review_content{
    width: 50%;
}
.review_content h1{
    line-height: 140px;
    font-size: 34px;
}
.review_content p{
    font-family: serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}
.review{
    margin-top: 30px;
    padding: 30px 50px; 
    border: 3px solid #22c513;
    border-radius: 10px;
}
.review .review1{
    width: 30%;
    margin-left: 3%;
    border-right: 3px solid #22c513;

}
.review .review1 h1{
    font-size: 25px;
    text-align: center;
}
.review .review1 p{
    margin-top: 20px;
    font-size: 22px;
    font-family: serif;
    font-weight: 500;
    color: #22c513;
    text-align: center;
}
.review .review1:nth-child(3){
    border-right: none;
}

/* review part end here */

 /* buy part start here */

.buy_section{
    padding: 40px 0;
    background-color: #22c513;
}
.buy_image{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.image1 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.buy_content h3{
    font-family: serif;
    font-weight: 500;
    font-size: 29px;
    color: #fff;
    line-height: 60px;
}
.how_to_buy_section{
    margin-top: 25px;
}
.how_to_buy_section h1{
    font-size: 70px;
    color: #fff;
    text-align: center;
    letter-spacing: 10px;
}
.how_to_buy_section p{
    color: #fff;
    width:90%;
    margin: auto;
    margin-top: 20px;
    font-family: serif;
    font-weight: 500;
    font-size: 20px;
}
.how_to_buy_section a, button{
    display: inline-block;
    margin-left: 40px;
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    color: #444;
    margin-top: 40px;
    text-decoration: none;
    font-family: serif;
    font-weight: 600;
    font-size: 20px;
}

.how_to_buy_section a:hover{
    background-color: #ccc4c4;
    transition:.5s;
}
 /* buy part end here */


 /* service part start here */
 .services{
     margin-top: 30px;
 }
.service{
    width: 90%;
    margin: 30px auto;
}
.service .service_image{
    width: 20%;  
}
.service .service_image img{
    width: 50%;
    margin-top: 18px;
}
.service .service_content{
    width: 80%;
}
.service .service_content h2{
    font-size: 28px;
    width: 70%;
    color: #000;
    line-height: 30px;
}
.service .service_content p{
    margin-top: 20px;
    color: #000;
    font-family: serif;
    font-size: 18px;
    width: 70%;
}
.service .service_content i{
    color: #22c513;
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
    width: 40%;
}

 /* service part end here */

 /* comunity part start here */
 .comunity_section {
     background-color: #22c513;
     padding: 30px 50px 30px 50px;
 }
 .comunity_section h1{
     text-align: center;
     color: #fff;
     font-size: 30px;
 }
 .comunity{
     width: 100%;
     margin-top: 50px;
     margin-bottom: 50px;
     /* margin-left: 50px;
     margin-right: 50px; */
 }
 .comunity p{
     margin-top: 30px;
     color: #fff;
     font-family: serif;
     font-size: 22px;
     font-weight: 500;
 }
 .comunity_image{
     width:40%;
     margin-top: 50px;
 }
 .comunity_image p{
     color: #fff;
     margin-top: 10px;
     font-size: 20px;
     font-family: serif;
     font-weight: 500;
     text-align: center;
 }
 .comunity_image img{
     width: 90%;
     display: block;
     margin: 20px auto;
 }
 .comunity_image h2{
     font-size: 20px;
     color: #fff;
     text-align: center;
     font-family: serif;
     margin-top: 30px;
 }
 /* comunity part end here */
 /* roadmap part start here */
 .roadmap{
    width: 100%;
    padding: 50px 20px;
    position: relative;
    margin: auto;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./image/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.roadmap h1{
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
    font-size: 35px;

}
.roadmap .roadmap_area{
    width:80%;
    margin: 50px auto;
    height: 650px;
    overflow: auto;
}
.roadmap .roadmap_area ul::before{
    content: '';
    position: absolute;
    background-color: #ddd;
    border-right: 1px dotted #635e5e;
    height: 92%;
    top: 0%;
    left: 2.5%;
}
.roadmap .roadmap_area ul li h4{
    margin-left: 60px;
    font-weight: normal;
    color: #e9e9e9;
}
.roadmap .roadmap_area ul li h3{
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    font-family: tahoma;
    font-weight: normal;
    margin-left: 60px;
}
.roadmap .roadmap_area ul li p{
    color: #fff;
}
.roadmap .roadmap_area ul{
    position: relative;
}
.roadmap .roadmap_area ul li{
    position: relative;
}
.roadmap .roadmap_area ul li div div{
    width: 25px;
    height: 25px;
    border-radius:50%;
    background-color: green;
    margin-left: 5px;
    margin-top: 5px;
}
.roadmap .roadmap_area ul li div .progress{
    background-color: orange;
}
.roadmap .roadmap_area ul li div .progres{
    background-color: red;
}
.roadmap .roadmap_area ul li div{
    position: absolute;
    left: 0;
    top: 0;
    color: #E83C3E;
    width: 38px;
    height: 38px;
    background-color: #F9FAFB;
    border-radius: 50%;
    border: 1px solid #444;
}
.roadmap .roadmap_area ul li p{
    text-align: left;
    width: 90%;
    margin-left: 60px;
    line-height: 25px;
    margin-top: 10px;
    padding-bottom: 30px;
}

 /* roadmap part end here */ 

 /* contact section start here */
 .contact{
     padding: 50px 10px;
     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://wallpaperaccess.com/full/4614273.jpg');
     background-size: cover;
     background-position: center;
 }
 .contact h2{
     text-align: center;
     font-size: 70px;
     color: #f3e9e9;
     opacity: .3;
     letter-spacing: 8px;
 }
 .contact h1{
     color: #fff;
     text-align: center;
     font-size: 45px;
     margin-top: -60px;
     letter-spacing: 3px;
 }
 .contact .div1{
     width: 400px;
     height: 400px;
     border: 6px solid #d3cdcd;
     border-radius: 50%;
     padding: 20px;
     margin: 100px auto;
     position: relative;
 }
 .contact .contact_info {
     text-align: left;
     width: 300px;
     margin: 28px auto;
     padding: 50px 30px;
     border: 6px solid #d3cdcd;
     height: 300px;
     border-radius: 50%;
 }
 .contact .contact_info .contact_icon{
     margin-top: 20px;
     margin-left: 30px;
     line-height: 20px;
 }
 .contact .contact_info .contact_icon i{
     margin-right: 10px;
     padding: 5px;
     background-color: #a09b9b;
     color: #fff;
     border-radius: 50%;
 }
 .contact .contact_info .contact_icon span{
     color: #fff;
 }
 /* contact section start here */

 /* footer area start here */
.footer{
    padding: 40px;
}
.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: serif;
    font-weight: 600;
    display: block;
    text-align: center;
    background-color: #4e8bfc;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: auto;
    width: 14%;
}
.footer a i{
    margin-right: 5px;
}
.footer p{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    font-weight: 500;
    font-size: 20px;
    color: #555;
}

 /* footer area end here */


 /* Responsive part start here */

@media (max-width: 1024px){
    .logo{
        width: 10%;
    }
    .logo img{
        width: 70%;
    }
    .main_menu{
        width: 70%;
    }
    .icon{
        width: 20%;
    }
    .icon i{
        margin-left: 10px;
        margin-top: 2px;
    }
    .roadmap .roadmap_area ul::before{
        content: '';
        position: absolute;
        background-color: #ddd;
        border-right: 1px dotted #635e5e;
        height: 92%;
        top: 0%;
        left: 2.8%;
    }
}
@media (max-width: 992px){
    .logo{
        width: 10%;
    }
    .logo img{
        width: 50%;
    }
    .how_to_buy_section h1{
        font-size: 40px;
        letter-spacing: 4px;
    }
    .footer a{
        width:20%
    }
    .comunity_image h2{
        font-size: 18px;
    }
}
@media (max-width: 870px){
    .logo{
        width: 10%;
    }
    .logo img{
        width: 90%;
    }
    .main_menu{
        width: 80%;
    }
    .main_menu ul li a{
        font-size: 18px;
    }
    .icon{
        width: 10%;
    }
}
@media (max-width: 768px){
    .logo{
        width: 10%;
    }
    .logo img{
        width: 90%;
    }
    .main_menu{
        width: 70%;
    }
    .main_menu ul{
        margin-left: 10px;
    }
    .main_menu ul li{
        margin-left: 12px;
    }
    .main_menu ul li a{
        font-size: 18px;
    }
    .icon{
        width: 10%;
    }
    .comunity_image h2{
        font-size: 16px;
    }
    .footer a{
        width:25%;
    }
    .roadmap .roadmap_area ul::before{
        content: '';
        position: absolute;
        background-color: #ddd;
        border-right: 1px dotted #635e5e;
        height: 92%;
        top: 0%;
        left: 3.9%;
    }
}
@media (max-width: 670px){
    .logo{
        width: 100%;
    }
    .logo img{
        width:30%;
        display: block;
        margin: auto;
    }
    .main_menu{
        width: 100%;
        position: relative;
        display: none;   
    }
    .main_menu ul li a{
        color: #444;
    }
    .main_menu ul{
        position: absolute;
        top: -200px;
        left: -100px;
        background-color: #fff;
        width: 60%;
        height: 90vh;
        padding: 60px 20px !important;
    }
    .main_menu ul li{
        display: block;
        margin-top: 10px;

    }
    .main_menu ul li a{
        text-align: center;
        display: block;
        font-size: 16px !important;
    }
    .icon{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .icon .bar_icon{
        color: #444;
        cursor: pointer;
    }
    
    .icon .bar_icon2{
        position: absolute;
        top: 10px;
        left: 10px;
        color: #444;
        cursor: pointer;
        /* display: block; */
    }
    .icon .bar_icon{
        display: block;
    }
    .banner_content{
        width: 100%;
    }
    .banner_image{
        width: 100%;
    }
    .banner_image img{
        width: 80%;
        display: block;
        margin: 30px auto;
    }
    .banner_content h1{
        font-size: 35px !important;
        line-height: 70px !important;
    }
    .banner_content p{
        width: 150%;
    }
    .div{
        width: 0;
    }
    .review_content{
        width: 100%;
    }
    .review_content h1{
        line-height: 100px;
    }
    .review{
        width: 100% !important;
        flex: none !important;
    }
    .review .review1{
        width: 100%;
        display: block;
        border-right: none;
    }
    .buy_image h3{
        font-size: 20px !important;
    }
    .how_to_buy_section h1{
        font-size: 30px;
        letter-spacing: 2px;
    }
    .how_to_buy_section p{
        width: 100% !important;
        font-size: 18px;
    }
    .how_to_buy_section a{
        margin-left: 0;
    }
    .service_image{
        width: 50% !important;
    }
    .service_image img{
        width: 100% !important;
    }
    .service_content{
        width: 60% !important;
    }
    .service_content h2{
        width: 100% !important;
        font-size: 20px !important;
    }
    .service_content p{
        width: 100% !important;
        font-size: 18px;
    }
    .comunity_section h1{
        font-size: 25px;
    }
    .comunity{
        width: 100% !important;
    }
    .comunity p{
        font-size: 18px;
        margin-top: 10px;
    }
    .comunity_image{
        width: 100% !important;
    }
    .footer a{
        width: 30%;
    }
}
@media (max-width: 576px){
    .logo{
        width: 100%;
    }
    .logo img{
        width: 40%;
    }
    .main_menu{
        width: 100%;
    }
    .main_menu ul li{
        display: block;
    }
    .icon{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .buy_image{
        display: flex;
        justify-content: space-between !important;
    }
    .buy_content h3{
        font-size: 20px !important;
    }
    .how_to_buy_section p{
        width: 90% !important;
        margin: 10px auto;
    }
    .how_to_buy_section a{
        margin-left: 20px;
    }
    .footer a{
        width: 35%;
    }
    .main_menu ul{
        position: absolute;
        top: -230px !important;
        left: -100px;
        background-color: #fff;
        width: 60%;
        height: 80vh;
        padding: 20px;
    }
    .footer p{
        font-size: 16px;
    }
    .roadmap .roadmap_area ul::before{
        content: '';
        position: absolute;
        background-color: #ddd;
        border-right: 1px dotted #635e5e;
        height: 92%;
        top: 0%;
        left: 5%;
    }
}
@media (max-width: 425px){
    .buy_image h3{
        font-size: 16px !important;
        text-align: center !important;
    }
    .buy_content{
        width: 80% !important;
    }
    .buy_image .image1{
        width: 10% !important;
    }
    .buy_image img{
        width: 60px;
        height: 60px;
    }
    .comunity p{
        width: 100% !important;
        font-size: 17px;
    }
    .footer a{
        width:45%;
    }
    .service_image{
        width: 30% !important;
    }
    .service_image img{
        width:90% !important;
    }
    .service_content{
        width: 70% !important;
    }
    .service_content h2{
        width: 100% !important;
        font-size: 18px !important;
    }
    .service_content p{
        font-size: 17px !important;
        font-weight: normal !important;
    }
    .main_menu ul{
        position: absolute;
        top: -170px !important;
        left: -100px;
        background-color: #fff;
        width: 80%;
        padding: 20px;
        height: 72vh !important;
    }
    .footer p{
        font-size: 14px !important;

    }
    .contact .div1{
        width: 350px !important;
        height: 350px !important;
    }
    .contact .div1 .contact_info{
        width: 250px !important;
        height: 250px !important;
    }
    .contact .div1 .contact_icon{
        width: 100% !important;
        line-height: 0px !important;
        margin-top: 10px !important;
    }
    .contact .div1 .contact_icon i{
        margin-right: 5px;
    }
    .contact .div1 .contact_icon span{
        font-size: 12px;
    }
    .roadmap .roadmap_area ul::before{
        content: '';
        position: absolute;
        background-color: #ddd;
        border-right: 1px dotted #635e5e;
        height: 92%;
        top: 0%;
        left: 6%;
    }
    .roadmap .roadmap_area{
        width: 100% !important;
        height: 400px !important;
    }
}
@media (max-width: 320px){
    .banner_content a{
        padding: 10px 10px !important;
        font-size: 14px !important;
    }
    .banner_content h1{
        font-size: 30px !important;
    }
    .review_content p{
        line-height: 20px !important;
    }
    .review_content_section h1{
        font-size: 18px !important;
        line-height: 20px !important;
        margin-top: 10px !important;
    }
    .review_content_section p{
        margin-top: 0!important;
        font-size: 16px !important;
    }
    .buy_image img{
        width: 40px !important;
        height: 40px !important;
    }
    .buy_content h3{
        font-size: 13px !important;
        line-height: 35px !important;
    }
    .how_to_buy_section h1{
        font-size: 23px !important;
        letter-spacing: 2px !important;
    }
    .comunity p{
        font-size: 15px !important;
    }
    .comunity_image h2{
        margin-left: -20px !important;
        font-size: 14px !important;
    }
    .comunity_section h1{
        font-size: 20px !important;
    }
    .footer a{
        width: 80% !important;
    }
    .main_menu ul{
        position: absolute;
        top: -125px !important;
        left: -100px;
        background-color: #fff;
        width: 100%;
        height: 66vh;
        padding: 20px;
    }
    .main_menu ul li a{
        font-size: 15px !important;
    }
    .icon .tel_icon{
        line-height: 30px !important;
    }
    .contact .div1{
        width: 260px !important;
        height: 260px !important;
        padding: 5px !important;
    }
    .contact .div1 .contact_info{
        width: 190px !important;
        height: 190px !important;
        padding-top: 22px !important;
    }
    .contact .div1 .contact_icon{
        width: 100% !important;
        line-height: 0px !important;
        margin-top: 10px !important;
    }
    .contact h2{
        font-size: 55px;
    }
    .contact h1{
        font-size: 35px;
    }
    .contact .div1 .contact_icon i{
        margin-right: 5px;
        font-size: 10px !important;
        margin-left: -30px !important;
    }
    .contact .div1 .contact_icon span{
        font-size: 10px;
    }
    .roadmap .roadmap_area ul::before{
        content: '';
        position: absolute;
        background-color: #ddd;
        border-right: 1px dotted #635e5e;
        height: 92%;
        top: 0%;
        left: 8%;
    }
    .roadmap .roadmap_area{
        width: 100% !important;
        height: 400px !important;
    }
    .roadmap .roadmap_area ul li p{
        font-size: 14px;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* ============ End Here ================== */

